body{
  background:  #282C32;
  margin:0px;
  padding: 0px;
  font-family: math;
}
.App {
  text-align: center;
}
.main-container{
margin-bottom: 50px;

}
a {
  font-family:'Times New Roman', Times, serif;
  font-size: 16px;
}
.top-nav-container{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 padding: 20px;
 gap: 20px;
 height: 200px;
 /* /* height: 100px; */
 background-image: url("../public/programming.jpg"); 
 background-repeat: no-repeat;
 background-size: cover;
}
.top-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  max-width: 700px;
}
h1{
  color:#286bd0;
  font-size:30px;
  float: left;
  font-weight: 900;
}
h2{
  color:#e5e8ec;
  font-size:20px;
  float: left;
  font-weight: 900;
}
p {
  color: #a9b9d1;
  font-size: 20px;
  text-align: center;
}

.top-box-container img{
  border-radius: 50%;  
  border-color: #7fa9ca;
  border: 3px solid #286bd0;
  /* box-shadow: 2px 1px 14px 8px #286bd0; */
}
.skill-list img{
  border-radius: 40px;  
  background-color: white;
}
.button-container{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    text-decoration: none;
}

.button-container button:hover {
  /* background: #286bd0; */
  color: white;
  transform: scale(1.1);
}
.btn-1 a{
  text-decoration: none;
}
.btn-2 a{
  text-decoration: none;
}
.btn-3 a{
  text-decoration: none;
}
.btn-1{
  border-radius: 20px;
  background: linear-gradient(135deg, #60A9FF 10%, #D187FF 90%);
  height: 40px;
  width: 170px;
  color: white;
  font-weight: 900;
  text-decoration: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-2{
  border-radius: 20px;
  background-color: #053a8a;
  height: 40px;
  width: 170px;
  color: white;
  /* border-color: #286bd0; */
  font-weight: 900;
  text-decoration: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-5{
  border-radius: 20px;
  background-color: #053a8a;
  height: 40px;
  width: 230px;
  color: white;
  /* border-color: #286bd0; */
  font-weight: 900;
  text-decoration: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-3{
  border-radius: 20px;
  background: linear-gradient(135deg, #60A9FF 10%, #D187FF 90%);
  height: 40px;
  width: 130px;
  font-weight: 900;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-4{
  border: none;
  border-radius: 20px;
  background-color: #053a8a;
  height: 40px;
  width: 140px;
  color: white;
  border-color: #286bd0;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-4 a{
  color: white;
  text-decoration: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.parent-box-container{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  /* box-shadow: 2px 1px 14px 8px #286bd0; */
}
.child-box-container{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 27px;
  margin: 30px;
  border: 2px solid #4d4753;
  border-top-color: #7fa9ca;
  /* box-shadow: 2px 1px 14px 8px #286bd0; */
}

.parent-box-container :hover{
  color: #682aa5 ;
 transition-duration: 3s;
}
.about-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.about-heading p{
  color:#a9b9d1;
  font-size:20px;
  max-width: 50% !important;
}

.parent-skill-container{
  display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 padding: 20px;
 gap: 20px;
background: white;
/* box-shadow: 2px 1px 14px 8px #286bd0; */
}
.child-skill-container{
  display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
/* background: #282C32; */
border-radius: 20px;
flex-direction: column;

}

.child-skill-container ul{
  color: white;
  display: flex;
  flex-direction: column;
 }

.skill-list ul li{
 color: white;
 gap: 20px;
 list-style: none;

}

.skill-list {display: flex;
flex-direction: column;
font-size: 20px;
padding: 30px;
margin: 30px;
height: 300px;
border: 2px solid #4d4753;
border-top-color: #7fa9ca;
/* box-shadow: 2px 1px 14px 8px #286bd0; */
}
.project-box-container{
display: flex;
flex-direction: column;
font-size: 20px;
padding: 30px;
margin: 30px;
/* border: 2px solid #4d4753; */
border-top-color: #7fa9ca;
gap: 10px;
/* box-shadow: 2px 1px 14px 8px #286bd0; */
}
.project-box-container img{
  max-width: 400px;
}
.skill-list ul{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 30px;
}

.skill-list-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 900px){
  .child-box-container {max-width: 100% !important;}

}
@media (min-width: 600px){
  .child-box-container {max-width:  100% !important;}
  .about-heading p{
    color:#a9b9d1;
    font-size:20px;
    max-width: 100%;
    padding: 40px;
  }
}

@media (min-width: 600px){
  .top-box-container img{max-width:  100% !important;}
}

@media (min-width: 600px){
  .top-box-container img{max-width:  100% !important;}
}
.react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  justify-content: center !important;
}